a2wsgi==1.10.10
asgiref==3.8.1
beautifulsoup4==4.13.4
bleach==6.4.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.4.2
colorama==0.4.6
dj-database-url==2.3.0
Django==5.2
djangorestframework==3.16.0
feedparser==6.0.11
fuzzywuzzy==0.18.0
git-filter-repo==2.47.0
h11==0.16.0
idna==3.10
Levenshtein==0.27.1
packaging==25.0
Paginator==0.5.1
psycopg2-binary==2.9.10
python-decouple==3.8
python-Levenshtein==0.27.1
RapidFuzz==3.13.0
requests==2.32.3
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.51.0
webencodings==0.5.1
whitenoise==6.9.0
